# Maven build output
target/

# Logs
*.log

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store

# Firebase credentials
*.json
src/main/resources/zoho-cf081-firebase-adminsdk-fbsvc-18684b62a9.json
