-- MySQL dump 10.13  Distrib 5.7.44, for Win64 (x86_64)
--
-- Host: localhost    Database: attendance_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activities`
--

DROP TABLE IF EXISTS `activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activities` (
  `id` binary(36) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` binary(36) DEFAULT NULL,
  `description` tinytext,
  `due_date` datetime(6) DEFAULT NULL,
  `end_date` datetime(6) DEFAULT NULL,
  `modified_at` datetime(6) DEFAULT NULL,
  `modified_by` binary(36) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `owner_id` binary(36) DEFAULT NULL,
  `priority` varchar(255) DEFAULT NULL,
  `reminder` datetime(6) DEFAULT NULL,
  `repeat_rule` varchar(255) DEFAULT NULL,
  `start_date` datetime(6) DEFAULT NULL,
  `status` enum('PENDING','COMPLETED','CANCELLED') DEFAULT NULL,
  `type` enum('TASK','EVENT','CALL') NOT NULL,
  `deal_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_activities_deal` (`deal_id`),
  CONSTRAINT `FK4qgv6mn8mdb4me9m1qg5reums` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`),
  CONSTRAINT `fk_activities_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activities`
--

LOCK TABLES `activities` WRITE;
/*!40000 ALTER TABLE `activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_field_definitions`
--

DROP TABLE IF EXISTS `activity_field_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_field_definitions` (
  `id` binary(36) NOT NULL,
  `active` bit(1) DEFAULT NULL,
  `activity_type` enum('TASK','EVENT','CALL') NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `field_key` varchar(255) NOT NULL,
  `field_name` varchar(255) NOT NULL,
  `field_type` varchar(255) NOT NULL,
  `required` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_activity_field_key_type` (`field_key`,`activity_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_field_definitions`
--

LOCK TABLES `activity_field_definitions` WRITE;
/*!40000 ALTER TABLE `activity_field_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_field_definitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_field_values`
--

DROP TABLE IF EXISTS `activity_field_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_field_values` (
  `id` binary(36) NOT NULL,
  `value` tinytext,
  `activity_id` binary(36) NOT NULL,
  `field_definition_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_activity_field_value` (`activity_id`,`field_definition_id`),
  KEY `FKss04650bsjrmuwtmeomniexkv` (`field_definition_id`),
  CONSTRAINT `FKnaitwdm2atkm4vbg5ng3sld3r` FOREIGN KEY (`activity_id`) REFERENCES `activities` (`id`),
  CONSTRAINT `FKss04650bsjrmuwtmeomniexkv` FOREIGN KEY (`field_definition_id`) REFERENCES `activity_field_definitions` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_field_values`
--

LOCK TABLES `activity_field_values` WRITE;
/*!40000 ALTER TABLE `activity_field_values` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_field_values` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `announcements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` text,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_pinned` bit(1) DEFAULT NULL,
  `publish_from` datetime(6) DEFAULT NULL,
  `publish_to` datetime(6) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `type` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6bx9vflh1lkqm6nxfyawf346v` (`organization_id`),
  CONSTRAINT `FK6bx9vflh1lkqm6nxfyawf346v` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `in_location_lat` decimal(38,2) DEFAULT NULL,
  `in_location_lng` decimal(38,2) DEFAULT NULL,
  `is_lunch_in` bit(1) DEFAULT NULL,
  `is_lunch_out` bit(1) DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `out_location_lat` decimal(38,2) DEFAULT NULL,
  `out_location_lng` decimal(38,2) DEFAULT NULL,
  `punch_in_time` datetime(6) DEFAULT NULL,
  `punch_out_time` datetime(6) DEFAULT NULL,
  `status` enum('PUNCHED_IN','PUNCHED_OUT','ABSENT','ON_LEAVE') DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKb48lmkou5j4rvde9sr88bqgjw` (`employee_id`),
  CONSTRAINT `FKb48lmkou5j4rvde9sr88bqgjw` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
INSERT INTO `attendance` VALUES (1,'2024-06-01',NULL,NULL,NULL,NULL,NULL,'Regular day',NULL,NULL,'2024-06-01 09:00:00.000000',NULL,'PUNCHED_IN',1);
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_field_definitions`
--

DROP TABLE IF EXISTS `bank_field_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_field_definitions` (
  `id` binary(36) NOT NULL,
  `active` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `field_key` varchar(255) NOT NULL,
  `field_name` varchar(255) NOT NULL,
  `field_type` varchar(255) NOT NULL,
  `required` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bank_field_key` (`field_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_field_definitions`
--

LOCK TABLES `bank_field_definitions` WRITE;
/*!40000 ALTER TABLE `bank_field_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_field_definitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_field_values`
--

DROP TABLE IF EXISTS `bank_field_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_field_values` (
  `id` binary(36) NOT NULL,
  `value` tinytext,
  `bank_id` binary(16) DEFAULT NULL,
  `field_definition_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bank_field_value` (`bank_id`,`field_definition_id`),
  KEY `FKhrfpu7rxn7rw71g2d21ft5bf6` (`field_definition_id`),
  CONSTRAINT `FK59nfq3jgu5odes9j5g5ubgm8x` FOREIGN KEY (`bank_id`) REFERENCES `banks` (`id`),
  CONSTRAINT `FKhrfpu7rxn7rw71g2d21ft5bf6` FOREIGN KEY (`field_definition_id`) REFERENCES `bank_field_definitions` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_field_values`
--

LOCK TABLES `bank_field_values` WRITE;
/*!40000 ALTER TABLE `bank_field_values` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_field_values` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banks`
--

DROP TABLE IF EXISTS `banks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banks` (
  `id` binary(16) NOT NULL,
  `active` bit(1) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) NOT NULL,
  `branch_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` tinytext,
  `district` varchar(255) DEFAULT NULL,
  `owner_id` binary(36) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `pin_code` varchar(255) DEFAULT NULL,
  `taluka` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `created_by` binary(16) DEFAULT NULL,
  `updated_by` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_bank_name` (`bank_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banks`
--

LOCK TABLES `banks` WRITE;
/*!40000 ALTER TABLE `banks` DISABLE KEYS */;
INSERT INTO `banks` VALUES (_binary 'K\α>\█fClîú·⌡q∙\╤9',_binary '','pune','jfsnvkj','ejsbrjv','2026-01-10 07:50:34.225308','hiiii','haveli',NULL,'098765','412201','haveli','2026-01-10 07:50:46.802867','https://bank.com',NULL,NULL,NULL),(_binary 'nÉ╝═ÇA{ÿ[%,¿?¥k',_binary '\0','Updated Address','Updated Final Bank','Updated Branch','2026-01-10 07:27:34.449966',NULL,NULL,NULL,'9999999999',NULL,NULL,'2026-01-10 07:28:29.769806','https://updated.com',NULL,NULL,NULL);
/*!40000 ALTER TABLE `banks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `call_activities`
--

DROP TABLE IF EXISTS `call_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `call_activities` (
  `id` binary(36) NOT NULL,
  `call_duration_seconds` int DEFAULT NULL,
  `call_start_time` datetime(6) DEFAULT NULL,
  `call_status` varchar(255) DEFAULT NULL,
  `call_type` varchar(255) DEFAULT NULL,
  `recording_url` varchar(255) DEFAULT NULL,
  `to_from` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `FKndfk6lgyu4pai7lt7viwom5ud` FOREIGN KEY (`id`) REFERENCES `activities` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `call_activities`
--

LOCK TABLES `call_activities` WRITE;
/*!40000 ALTER TABLE `call_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `call_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `case_documents`
--

DROP TABLE IF EXISTS `case_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `case_documents` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` text,
  `document_name` varchar(255) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_size` bigint DEFAULT NULL,
  `file_type` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `case_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKh1or7dfbafaqmi6tfhh6jgivi` (`case_id`),
  CONSTRAINT `FKh1or7dfbafaqmi6tfhh6jgivi` FOREIGN KEY (`case_id`) REFERENCES `cases` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `case_documents`
--

LOCK TABLES `case_documents` WRITE;
/*!40000 ALTER TABLE `case_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cases`
--

DROP TABLE IF EXISTS `cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cases` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `case_number` varchar(255) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` text,
  `priority` enum('LOW','MEDIUM','HIGH','URGENT') DEFAULT NULL,
  `status` enum('OPEN','IN_PROGRESS','CLOSED','PENDING','COMPLETED') DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `client_id` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKntx229f8r4ppy1vthdl8fp59p` (`client_id`),
  CONSTRAINT `FKntx229f8r4ppy1vthdl8fp59p` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cases`
--

LOCK TABLES `cases` WRITE;
/*!40000 ALTER TABLE `cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` binary(16) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `contact_email` varchar(255) DEFAULT NULL,
  `contact_phone` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` binary(16) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `notes` text,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` binary(16) DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `owner_id` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_srv16ica2c1csub334bxjjb59` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deal_products`
--

DROP TABLE IF EXISTS `deal_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deal_products` (
  `id` binary(36) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `discount` decimal(38,2) DEFAULT NULL,
  `quantity` decimal(38,2) DEFAULT NULL,
  `tax` decimal(38,2) DEFAULT NULL,
  `total` decimal(38,2) DEFAULT NULL,
  `unit_price` decimal(38,2) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `deal_id` binary(36) NOT NULL,
  `product_id` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_deal_products_deal` (`deal_id`),
  KEY `fk_deal_products_product` (`product_id`),
  CONSTRAINT `fk_deal_products_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_deal_products_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `FKhmyy5sqgnsgo7oje6fxqo37iy` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deal_products`
--

LOCK TABLES `deal_products` WRITE;
/*!40000 ALTER TABLE `deal_products` DISABLE KEYS */;
/*!40000 ALTER TABLE `deal_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deal_stage_history`
--

DROP TABLE IF EXISTS `deal_stage_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deal_stage_history` (
  `id` binary(36) NOT NULL,
  `changed_at` datetime(6) DEFAULT NULL,
  `changed_by` binary(36) DEFAULT NULL,
  `new_stage` enum('LEAD','DM_APPLICATION','POSSESSION_ORDER','STAGE_13_4','STAGE_13_2','LEAD_TO_PHYSICAL_POSSESSION','PHYSICAL_POSSESSION') DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `previous_stage` enum('LEAD','DM_APPLICATION','POSSESSION_ORDER','STAGE_13_4','STAGE_13_2','LEAD_TO_PHYSICAL_POSSESSION','PHYSICAL_POSSESSION') DEFAULT NULL,
  `deal_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_deal_stage_history_deal` (`deal_id`),
  CONSTRAINT `fk_deal_stage_history_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKssu7i8vkrmy32pppdlxo2niaf` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deal_stage_history`
--

LOCK TABLES `deal_stage_history` WRITE;
/*!40000 ALTER TABLE `deal_stage_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `deal_stage_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deals`
--

DROP TABLE IF EXISTS `deals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deals` (
  `id` binary(36) NOT NULL,
  `branch_name` varchar(255) DEFAULT NULL,
  `closing_date` date DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` binary(36) DEFAULT NULL,
  `description` tinytext,
  `modified_at` datetime(6) DEFAULT NULL,
  `modified_by` binary(36) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `outstanding_amount` decimal(38,2) DEFAULT NULL,
  `owner_id` binary(36) DEFAULT NULL,
  `related_bank_name` varchar(255) DEFAULT NULL,
  `required_amount` decimal(38,2) DEFAULT NULL,
  `stage` enum('LEAD','DM_APPLICATION','POSSESSION_ORDER','STAGE_13_4','STAGE_13_2','LEAD_TO_PHYSICAL_POSSESSION','PHYSICAL_POSSESSION') DEFAULT NULL,
  `value_amount` decimal(38,2) DEFAULT NULL,
  `bank_id` binary(36) DEFAULT NULL,
  `client_id` binary(16) DEFAULT NULL,
  `active` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deals`
--

LOCK TABLES `deals` WRITE;
/*!40000 ALTER TABLE `deals` DISABLE KEYS */;
INSERT INTO `deals` VALUES (_binary '8ª\╟\╔3=C≥│*é\▌`\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0','pune',NULL,'2026-01-09 07:31:49.748157',NULL,NULL,'2026-01-09 15:30:55.828387',NULL,'uuu',NULL,NULL,NULL,NULL,'DM_APPLICATION',NULL,NULL,_binary '4\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0',NULL);
/*!40000 ALTER TABLE `deals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `head_of_department_id` bigint DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK69kdxq27lkb5p622ypc93tcr4` (`organization_id`),
  CONSTRAINT `FK69kdxq27lkb5p622ypc93tcr4` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `designations`
--

DROP TABLE IF EXISTS `designations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `designations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `level` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKistkt0ado6oadumdowa5jf9d9` (`organization_id`),
  CONSTRAINT `FKistkt0ado6oadumdowa5jf9d9` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `designations`
--

LOCK TABLES `designations` WRITE;
/*!40000 ALTER TABLE `designations` DISABLE KEYS */;
INSERT INTO `designations` VALUES (1,NULL,'2026-01-03 11:19:25.810757',NULL,'Software Developer role',_binary '',NULL,'Software Engineer','2026-01-03 11:19:25.810757',NULL,NULL),(2,'DESIGNER','2026-01-05 04:21:28.900358',NULL,'UI/UX Designer role',_binary '',NULL,'Designer','2026-01-05 04:21:28.900358',NULL,NULL);
/*!40000 ALTER TABLE `designations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_records`
--

DROP TABLE IF EXISTS `email_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_records` (
  `id` binary(36) NOT NULL,
  `body` tinytext,
  `cc_address` varchar(255) DEFAULT NULL,
  `sent_at` datetime(6) DEFAULT NULL,
  `sent_by` binary(36) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `to_address` varchar(255) DEFAULT NULL,
  `deal_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_email_records_deal` (`deal_id`),
  CONSTRAINT `fk_email_records_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKstdcbjefgs7gkrqtouc09qwx5` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_records`
--

LOCK TABLES `email_records` WRITE;
/*!40000 ALTER TABLE `email_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `email_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_punch`
--

DROP TABLE IF EXISTS `employee_punch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_punch` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `accuracy` double DEFAULT NULL,
  `altitude` double DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `geofence_id` bigint DEFAULT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `is_manual_punch` bit(1) DEFAULT NULL,
  `is_within_geofence` bit(1) DEFAULT NULL,
  `latitude` double NOT NULL,
  `location_address` varchar(255) DEFAULT NULL,
  `longitude` double NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `punch_time` datetime(6) NOT NULL,
  `punch_type` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKoy1hq3rncd2oke34t0wnga4l5` (`employee_id`),
  CONSTRAINT `FKoy1hq3rncd2oke34t0wnga4l5` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_punch`
--

LOCK TABLES `employee_punch` WRITE;
/*!40000 ALTER TABLE `employee_punch` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_punch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_tracking`
--

DROP TABLE IF EXISTS `employee_tracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_tracking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `accuracy` double DEFAULT NULL,
  `altitude` double DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `device_info` varchar(255) DEFAULT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `latitude` double NOT NULL,
  `location_address` varchar(255) DEFAULT NULL,
  `longitude` double NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  `tracking_type` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKgb9pak2joe7wrghddjr9nw62r` (`employee_id`),
  CONSTRAINT `FKgb9pak2joe7wrghddjr9nw62r` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_tracking`
--

LOCK TABLES `employee_tracking` WRITE;
/*!40000 ALTER TABLE `employee_tracking` DISABLE KEYS */;
INSERT INTO `employee_tracking` VALUES (1,NULL,216,'2025-12-30 07:03:29.932678',NULL,NULL,_binary '',28.6139,NULL,77.209,'2025-12-30 07:03:29.932678','CHECK_IN',NULL,1),(2,NULL,217,'2025-12-30 07:06:43.095016',NULL,NULL,_binary '',28.614,NULL,77.2091,'2025-12-30 07:06:43.095016','CHECK_OUT',NULL,1);
/*!40000 ALTER TABLE `employee_tracking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `attendance_allowed` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `employee_code` varchar(255) DEFAULT NULL,
  `employee_id` varchar(255) DEFAULT NULL,
  `full_name` varchar(255) NOT NULL,
  `hired_at` date DEFAULT NULL,
  `last_name` varchar(255) DEFAULT NULL,
  `location_lat` decimal(38,2) DEFAULT NULL,
  `location_lng` decimal(38,2) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `phone` varchar(32) DEFAULT NULL,
  `profile_image_url` varchar(255) DEFAULT NULL,
  `reporting_manager_id` bigint DEFAULT NULL,
  `role` enum('ADMIN','SUBADMIN','MANAGER','EMPLOYEE','SUPPORT') NOT NULL,
  `status` enum('ACTIVE','INACTIVE','TERMINATED') DEFAULT NULL,
  `subadmin_id` bigint DEFAULT NULL,
  `team_id` bigint DEFAULT NULL,
  `termination_date` date DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` varchar(255) DEFAULT NULL,
  `user_id` varchar(255) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `designation_id` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  `role_id` bigint DEFAULT NULL,
  `shift_id` bigint DEFAULT NULL,
  `custom_designation` varchar(255) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_j9xgmd0ya5jmus09o0b8pqrpb` (`email`),
  UNIQUE KEY `UK_ovvvp79dq21byf7svnuekb6iw` (`employee_id`),
  UNIQUE KEY `UK_j2dmgsma6pont6kf7nic9elpd` (`user_id`),
  KEY `FKgy4qe3dnqrm3ktd76sxp7n4c2` (`department_id`),
  KEY `FKe4i9i8vu1j96m71g4v98kqirb` (`designation_id`),
  KEY `FKh62l7gpgesex8wjd6himtb3e1` (`organization_id`),
  KEY `FKj5dawmyfw3dmtixnsrr6cbk63` (`reporting_manager_id`),
  KEY `FKah490190ww1q2a4piuv41hk6e` (`role_id`),
  KEY `FKerjbet32797doputgk79dc4ga` (`shift_id`),
  KEY `FKa5cxjw6yuqlbp0np1g51o03gf` (`team_id`),
  CONSTRAINT `FKa5cxjw6yuqlbp0np1g51o03gf` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKah490190ww1q2a4piuv41hk6e` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`),
  CONSTRAINT `FKe4i9i8vu1j96m71g4v98kqirb` FOREIGN KEY (`designation_id`) REFERENCES `designations` (`id`),
  CONSTRAINT `FKerjbet32797doputgk79dc4ga` FOREIGN KEY (`shift_id`) REFERENCES `shifts` (`id`),
  CONSTRAINT `FKgy4qe3dnqrm3ktd76sxp7n4c2` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `FKh62l7gpgesex8wjd6himtb3e1` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`),
  CONSTRAINT `FKj5dawmyfw3dmtixnsrr6cbk63` FOREIGN KEY (`reporting_manager_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_activities`
--

DROP TABLE IF EXISTS `event_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `event_activities` (
  `id` binary(36) NOT NULL,
  `end_date_time` datetime(6) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `participants` tinytext,
  `reminder_minutes` int DEFAULT NULL,
  `repeat_flag` bit(1) DEFAULT NULL,
  `start_date_time` datetime(6) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `FK9sj4q6lwxoswc4r0rak2hd30k` FOREIGN KEY (`id`) REFERENCES `activities` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_activities`
--

LOCK TABLES `event_activities` WRITE;
/*!40000 ALTER TABLE `event_activities` DISABLE KEYS */;
INSERT INTO `event_activities` VALUES (_binary '\∞ï:ùÑgAN┤p*A\┬Y└\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0','2026-01-09 09:32:00.000000','pune','jvndjf',NULL,NULL,'2026-01-09 09:32:00.000000','ibfkj');
/*!40000 ALTER TABLE `event_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` double DEFAULT NULL,
  `approved_by` bigint DEFAULT NULL,
  `category` varchar(255) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `receipt_url` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (1,1500,NULL,'TRAVEL',1,'http://example.com/receipt.png','PENDING');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `files`
--

DROP TABLE IF EXISTS `files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `files` (
  `id` binary(36) NOT NULL,
  `content_type` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_size` bigint DEFAULT NULL,
  `storage_path` varchar(255) DEFAULT NULL,
  `uploaded_by` binary(36) DEFAULT NULL,
  `deal_id` binary(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_files_deal` (`deal_id`),
  CONSTRAINT `fk_files_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKit487moypwjynt8628fsv8wau` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `files`
--

LOCK TABLES `files` WRITE;
/*!40000 ALTER TABLE `files` DISABLE KEYS */;
/*!40000 ALTER TABLE `files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forms`
--

DROP TABLE IF EXISTS `forms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `forms` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `schema` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forms`
--

LOCK TABLES `forms` WRITE;
/*!40000 ALTER TABLE `forms` DISABLE KEYS */;
INSERT INTO `forms` VALUES (1,1,_binary '','Expense Form','{\"fields\":[]}');
/*!40000 ALTER TABLE `forms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `geofence_zones`
--

DROP TABLE IF EXISTS `geofence_zones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `geofence_zones` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `fence_type` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `latitude` double NOT NULL,
  `longitude` double NOT NULL,
  `name` varchar(255) NOT NULL,
  `radius` double NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK43j0drx9pxg22uxghuojdjis2` (`organization_id`),
  CONSTRAINT `FK43j0drx9pxg22uxghuojdjis2` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `geofence_zones`
--

LOCK TABLES `geofence_zones` WRITE;
/*!40000 ALTER TABLE `geofence_zones` DISABLE KEYS */;
/*!40000 ALTER TABLE `geofence_zones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holidays`
--

DROP TABLE IF EXISTS `holidays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `holidays` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `date` date DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_optional` bit(1) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `type` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKjkdaufpmjt11pgo13f37mf3pu` (`organization_id`),
  CONSTRAINT `FKjkdaufpmjt11pgo13f37mf3pu` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holidays`
--

LOCK TABLES `holidays` WRITE;
/*!40000 ALTER TABLE `holidays` DISABLE KEYS */;
/*!40000 ALTER TABLE `holidays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leaves`
--

DROP TABLE IF EXISTS `leaves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leaves` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `from_date` date DEFAULT NULL,
  `leave_type` enum('SICK','CASUAL','PAID','UNPAID') DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') DEFAULT NULL,
  `to_date` date DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6kwhuq11saeyki0nc54elfap2` (`employee_id`),
  CONSTRAINT `FK6kwhuq11saeyki0nc54elfap2` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leaves`
--

LOCK TABLES `leaves` WRITE;
/*!40000 ALTER TABLE `leaves` DISABLE KEYS */;
INSERT INTO `leaves` VALUES (1,'2024-06-10','SICK','Fever',NULL,'2024-06-12',1);
/*!40000 ALTER TABLE `leaves` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notes`
--

DROP TABLE IF EXISTS `notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notes` (
  `id` binary(36) NOT NULL,
  `body` tinytext,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` binary(36) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `deal_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_notes_deal` (`deal_id`),
  CONSTRAINT `fk_notes_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKf6hc0d25q0ngicc4x5sb427o7` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notes`
--

LOCK TABLES `notes` WRITE;
/*!40000 ALTER TABLE `notes` DISABLE KEYS */;
INSERT INTO `notes` VALUES (_binary '\'\Σó\Φ`&E▓ƒs\αZJ╛\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0',NULL,'2026-01-09 15:45:22.373745',NULL,'Note',_binary '8ª\╟\╔3=C≥│*é\▌`\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0');
/*!40000 ALTER TABLE `notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` double DEFAULT NULL,
  `client_id` bigint DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `items` text,
  `order_number` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` VALUES (1,75000,1,1,'[{\"name\":\"Laptop\",\"qty\":1}]','ORD-001','PENDING');
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organizations`
--

DROP TABLE IF EXISTS `organizations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organizations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `code` varchar(255) NOT NULL,
  `contact_email` varchar(255) DEFAULT NULL,
  `contact_phone` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `date_format` varchar(255) DEFAULT NULL,
  `industry` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `pincode` varchar(255) DEFAULT NULL,
  `state` varchar(255) DEFAULT NULL,
  `time_format` varchar(255) DEFAULT NULL,
  `timezone` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `currency` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `fiscal_year_end` varchar(255) DEFAULT NULL,
  `fiscal_year_start` varchar(255) DEFAULT NULL,
  `primary_color` varchar(255) DEFAULT NULL,
  `registration_number` varchar(255) DEFAULT NULL,
  `secondary_color` varchar(255) DEFAULT NULL,
  `tax_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_kamtsqvsul6leg7svd95mmydq` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organizations`
--

LOCK TABLES `organizations` WRITE;
/*!40000 ALTER TABLE `organizations` DISABLE KEYS */;
INSERT INTO `organizations` VALUES (1,'123 Test Street','Test City','TEST001','test@example.com','+1234567890','Test Country','2026-01-02 10:53:59.430262',NULL,NULL,NULL,_binary '',NULL,'Test Organization Updated','12345',NULL,NULL,NULL,'2026-01-02 10:54:28.166710',NULL,'https://testorg.com',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL),(2,NULL,NULL,'ORG_1768017667173',NULL,NULL,NULL,'2026-01-10 04:01:07.198581',0,NULL,NULL,_binary '',NULL,'Yash Enterprises',NULL,NULL,NULL,NULL,'2026-01-10 04:01:07.198581',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `organizations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `display_name` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `module` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `resource` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_pnvtwliis6p05pn6i3ndjrqt2` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `policies`
--

DROP TABLE IF EXISTS `policies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `policies` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) DEFAULT NULL,
  `content` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `effective_from` datetime(6) DEFAULT NULL,
  `effective_to` datetime(6) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_mandatory` bit(1) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `type` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKteetyox3vkjoejntwrcxqyc03` (`organization_id`),
  CONSTRAINT `FKteetyox3vkjoejntwrcxqyc03` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `policies`
--

LOCK TABLES `policies` WRITE;
/*!40000 ALTER TABLE `policies` DISABLE KEYS */;
/*!40000 ALTER TABLE `policies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_categories`
--

DROP TABLE IF EXISTS `product_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_categories` (
  `id` binary(36) NOT NULL,
  `active` bit(1) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_category_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_categories`
--

LOCK TABLES `product_categories` WRITE;
/*!40000 ALTER TABLE `product_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_field_definitions`
--

DROP TABLE IF EXISTS `product_field_definitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_field_definitions` (
  `id` binary(36) NOT NULL,
  `active` bit(1) DEFAULT NULL,
  `field_key` varchar(255) NOT NULL,
  `field_name` varchar(255) NOT NULL,
  `field_type` varchar(255) NOT NULL,
  `required` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_field_key` (`field_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_field_definitions`
--

LOCK TABLES `product_field_definitions` WRITE;
/*!40000 ALTER TABLE `product_field_definitions` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_field_definitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_field_values`
--

DROP TABLE IF EXISTS `product_field_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_field_values` (
  `id` binary(36) NOT NULL,
  `value` tinytext,
  `field_definition_id` binary(36) NOT NULL,
  `product_id` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_field_value_unique` (`product_id`,`field_definition_id`),
  KEY `fk_product_field_values_definition` (`field_definition_id`),
  CONSTRAINT `FK6p7w1n1ofuuemaf6b0ht6kh9g` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`),
  CONSTRAINT `fk_product_field_values_definition` FOREIGN KEY (`field_definition_id`) REFERENCES `product_field_definitions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKoyxrq0t4d62h9tf34ga2xusyn` FOREIGN KEY (`field_definition_id`) REFERENCES `product_field_definitions` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_field_values`
--

LOCK TABLES `product_field_values` WRITE;
/*!40000 ALTER TABLE `product_field_values` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_field_values` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_lines`
--

DROP TABLE IF EXISTS `product_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_lines` (
  `id` binary(36) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` binary(36) DEFAULT NULL,
  `discount` decimal(38,2) DEFAULT NULL,
  `list_price` decimal(38,2) DEFAULT NULL,
  `modified_at` datetime(6) DEFAULT NULL,
  `modified_by` binary(36) DEFAULT NULL,
  `product_name` varchar(255) DEFAULT NULL,
  `quantity` decimal(38,2) DEFAULT NULL,
  `total` decimal(38,2) DEFAULT NULL,
  `deal_id` binary(36) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_product_lines_deal` (`deal_id`),
  CONSTRAINT `fk_product_lines_deal` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FKknstis2v9maal87rc0qcli5ku` FOREIGN KEY (`deal_id`) REFERENCES `deals` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_lines`
--

LOCK TABLES `product_lines` WRITE;
/*!40000 ALTER TABLE `product_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_price_history`
--

DROP TABLE IF EXISTS `product_price_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_price_history` (
  `id` binary(36) NOT NULL,
  `changed_at` datetime(6) DEFAULT NULL,
  `changed_by` binary(36) DEFAULT NULL,
  `new_price` decimal(38,2) DEFAULT NULL,
  `old_price` decimal(38,2) DEFAULT NULL,
  `product_id` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcc0pjma67c06t2cvsoyesswht` (`product_id`),
  CONSTRAINT `FKcc0pjma67c06t2cvsoyesswht` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_price_history`
--

LOCK TABLES `product_price_history` WRITE;
/*!40000 ALTER TABLE `product_price_history` DISABLE KEYS */;
INSERT INTO `product_price_history` VALUES (_binary '╕┤¥¢d\∩I%æ¼LF\σ≡N5\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0','2026-01-10 07:47:35.493249',NULL,399.99,299.99,_binary '`⌐ªç┴7G╣\∩!£u!?}'),(_binary '\╟%@ï■N₧ú]\╞I2≈\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0','2026-01-10 08:03:01.247576',NULL,299.99,199.99,_binary '{\╦\╧<}·F╩æ\┼RF│÷<x');
/*!40000 ALTER TABLE `product_price_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` binary(16) NOT NULL,
  `active` bit(1) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` tinytext,
  `owner_id` binary(36) DEFAULT NULL,
  `product_category` varchar(255) DEFAULT NULL,
  `product_code` varchar(255) DEFAULT NULL,
  `product_name` varchar(255) NOT NULL,
  `unit_price` decimal(38,2) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `category_id` binary(36) DEFAULT NULL,
  `custom_fields` json DEFAULT NULL,
  `created_by` binary(16) DEFAULT NULL,
  `updated_by` binary(16) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_products_name` (`product_name`),
  KEY `idx_products_code` (`product_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
INSERT INTO `products` VALUES (_binary '`⌐ªç┴7G╣\∩!£u!?}',_binary '\0','2026-01-10 07:47:26.955402','Updated final product description',NULL,NULL,'UFP001','Updated Final Product',399.99,'2026-01-10 07:47:42.752949',NULL,NULL,NULL,NULL),(_binary '{\╦\╧<}·F╩æ\┼RF│÷<x',_binary '','2026-01-10 08:02:13.049863','Updated complete test product',NULL,'Test Category','UCTP001','Updated Complete Product',299.99,'2026-01-10 08:03:01.217383',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_permissions` (
  `role_id` bigint NOT NULL,
  `permission_id` bigint NOT NULL,
  KEY `FKegdk29eiy7mdtefy5c7eirr6e` (`permission_id`),
  KEY `FKn5fotdgk8d1xvo8nav9uv3muc` (`role_id`),
  CONSTRAINT `FKegdk29eiy7mdtefy5c7eirr6e` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`),
  CONSTRAINT `FKn5fotdgk8d1xvo8nav9uv3muc` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `display_name` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_default` bit(1) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqjj9a6xa11cu9ch24cjo4a7lc` (`organization_id`),
  CONSTRAINT `FKqjj9a6xa11cu9ch24cjo4a7lc` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,NULL,NULL,'Administrator role',NULL,_binary '',NULL,'ADMIN',NULL,NULL,NULL),(2,NULL,NULL,'Manager role',NULL,_binary '',NULL,'MANAGER',NULL,NULL,NULL),(3,NULL,NULL,'Employee role',NULL,_binary '',NULL,'EMPLOYEE',NULL,NULL,NULL);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `key` varchar(255) DEFAULT NULL,
  `value` varchar(255) DEFAULT NULL,
  `category` varchar(255) NOT NULL,
  `data_type` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_editable` bit(1) DEFAULT NULL,
  `setting_key` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_swd05dvj4ukvw5q135bpbbfae` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,'COMPANY_NAME','Unolo Solutions','',NULL,NULL,NULL,'',NULL,'2026-01-09 18:33:08');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shifts`
--

DROP TABLE IF EXISTS `shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shifts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `break_end_time` time(6) DEFAULT NULL,
  `break_start_time` time(6) DEFAULT NULL,
  `code` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `end_time` time(6) DEFAULT NULL,
  `grace_period_in_minutes` int DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_over_time_allowed` bit(1) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `overtime_threshold_in_minutes` int DEFAULT NULL,
  `start_time` time(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf7d5wtfrbtgtu8gp7p9gjhamf` (`organization_id`),
  CONSTRAINT `FKf7d5wtfrbtgtu8gp7p9gjhamf` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shifts`
--

LOCK TABLES `shifts` WRITE;
/*!40000 ALTER TABLE `shifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sites`
--

DROP TABLE IF EXISTS `sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sites` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(500) DEFAULT NULL,
  `city` varchar(150) DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `contact_person` varchar(200) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `email` varchar(200) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `pincode` varchar(20) DEFAULT NULL,
  `site_id` varchar(100) NOT NULL,
  `site_name` varchar(150) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sites`
--

LOCK TABLES `sites` WRITE;
/*!40000 ALTER TABLE `sites` DISABLE KEYS */;
/*!40000 ALTER TABLE `sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `support_tickets`
--

DROP TABLE IF EXISTS `support_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_tickets` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_to` bigint DEFAULT NULL,
  `category` varchar(255) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by` bigint DEFAULT NULL,
  `description` text,
  `priority` varchar(255) NOT NULL,
  `resolution` text,
  `status` varchar(255) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `support_tickets`
--

LOCK TABLES `support_tickets` WRITE;
/*!40000 ALTER TABLE `support_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `support_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_activities`
--

DROP TABLE IF EXISTS `task_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `task_activities` (
  `id` binary(36) NOT NULL,
  `due_date` date DEFAULT NULL,
  `expense_amount` decimal(38,2) DEFAULT NULL,
  `expense_description` varchar(255) DEFAULT NULL,
  `priority` varchar(255) DEFAULT NULL,
  `reminder_flag` bit(1) DEFAULT NULL,
  `repeat_flag` bit(1) DEFAULT NULL,
  `task_name` varchar(255) DEFAULT NULL,
  `task_status` enum('OPEN','IN_PROGRESS','COMPLETED','CANCELLED') DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `FK_task_activities_activity` FOREIGN KEY (`id`) REFERENCES `activities` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_activities`
--

LOCK TABLES `task_activities` WRITE;
/*!40000 ALTER TABLE `task_activities` DISABLE KEYS */;
INSERT INTO `task_activities` VALUES (_binary '!ì\π╛\╒OY▒;s\╪d:\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0','2026-01-09',NULL,NULL,'Normal',NULL,NULL,'hhhnds','OPEN'),(_binary 'eDÉû°îC≡▓ì¢∙Q\r\0Y\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0','2026-01-09',NULL,NULL,'High',NULL,NULL,'jhfdhvjb','OPEN');
/*!40000 ALTER TABLE `task_activities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tasks`
--

DROP TABLE IF EXISTS `tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tasks` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `assigned_by` bigint DEFAULT NULL,
  `assigned_to` bigint DEFAULT NULL,
  `created_at` date DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `priority` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tasks`
--

LOCK TABLES `tasks` WRITE;
/*!40000 ALTER TABLE `tasks` DISABLE KEYS */;
INSERT INTO `tasks` VALUES (1,1,1,NULL,'Investigate login issue','2024-06-15','HIGH','IN_PROGRESS','Fix login bug');
/*!40000 ALTER TABLE `tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team_members`
--

DROP TABLE IF EXISTS `team_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `team_members` (
  `team_id` bigint NOT NULL,
  `employee_id` bigint NOT NULL,
  PRIMARY KEY (`team_id`,`employee_id`),
  KEY `FKjdu9hq2eq8ucq5tjhwpunxvt5` (`employee_id`),
  CONSTRAINT `FKjdu9hq2eq8ucq5tjhwpunxvt5` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`),
  CONSTRAINT `FKtgca08el3ofisywcf11f0f76t` FOREIGN KEY (`team_id`) REFERENCES `teams` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team_members`
--

LOCK TABLES `team_members` WRITE;
/*!40000 ALTER TABLE `team_members` DISABLE KEYS */;
INSERT INTO `team_members` VALUES (1,2),(10,2),(1,4),(10,4),(11,5),(1,6),(11,6),(1,7),(12,7);
/*!40000 ALTER TABLE `team_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teams`
--

DROP TABLE IF EXISTS `teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `client_id` bigint DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `pincode` varchar(255) DEFAULT NULL,
  `state` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `organization_id` bigint DEFAULT NULL,
  `team_lead_id` bigint DEFAULT NULL,
  `parent_team_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK5i52bhmm0nbq6lrbur63anlmc` (`organization_id`),
  KEY `FKr87yqqmsp8ixw9h48nj8nk5gv` (`team_lead_id`),
  KEY `FK8rwj1snfq6jjnj7wbgbcjgxi3` (`parent_team_id`),
  CONSTRAINT `FK5i52bhmm0nbq6lrbur63anlmc` FOREIGN KEY (`organization_id`) REFERENCES `organizations` (`id`),
  CONSTRAINT `FK8rwj1snfq6jjnj7wbgbcjgxi3` FOREIGN KEY (`parent_team_id`) REFERENCES `teams` (`id`),
  CONSTRAINT `FKr87yqqmsp8ixw9h48nj8nk5gv` FOREIGN KEY (`team_lead_id`) REFERENCES `employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teams`
--

LOCK TABLES `teams` WRITE;
/*!40000 ALTER TABLE `teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `teams` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-10 18:27:47
